@media screen and (max-width:820px){
    header .container {
        display: flex;
        flex-direction: column; 
    }
    
    header .container .menu{
        margin-bottom: 1%;
    }

    .filme-principal .descricao {
        margin-top: 0.1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .filme-principal .titulo {
        margin-top: 10%;
        font-size: 1.8rem;
        font-family: 'Trebuchet MS', Arial, sans-serif;
    }

    .botao {
        margin-top: 0.2rem;
        width: 15rem;
    }
    
}

@media screen and (min-width:900px){
    .descricao{
        width: 70%;
    }
}